# Xcode
#

vendor/
Pods/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace/

# AppCode
.idea/

# Swift Package Manager
#
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore.
# However, if you do, this will remove Pods from your .gitignore.
# Pods/
# Uncomment the next line if you're ignoring Carthage dependency folders
# Carthage/Checkouts

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the Git repository.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
fastlane/report.xml
fastlane/screenshots

# Code Injection
#
*.app/InjectionIII/

# macOS
#
.DS_Store
.AppleDouble
.LSOverride

# RxSwift
RxSwift.xcodeproj

# Node
#
node_modules/

# Other files and directories to ignore
*.log
*.swp
*.bak
